<!DOCTYPE HTML>
<html>

<head>
	<title>添加商品信息</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./hui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="./hui/css/H-ui.admin.css" />
	<link rel="stylesheet" type="text/css" href="./hui/Hui-iconfont/1.0.8/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="./hui/layui/css/layui.css" />
</head>

<body>

	<div id="app">
		<article class="page-container">
			<div class="form form-horizontal" id="form-admin-add">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">商品号：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" id="gno" v-model="gno" readonly="readonly">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">商品名称：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" id="goodsname" v-model="goodsname" placeholder="请输入商品名称">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">商品类型：</label>
					<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
							<select class="select" v-model="cateid">
								<option :value="0">---请选择商品类型---</option>
								<option :value="item.cateid" v-for="item in cate">{{ item.catename }}</option>
							</select>
						</span> </div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">计量单位：</label>
					<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
							<select class="select" v-model="measureid">
								<option :value="0">---请选择计量单位---</option>
								<option :value="item.measureid" v-for="item in measure">{{ item.measurename }}</option>
							</select>
						</span> </div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">生产厂商：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" id="productor" v-model="productor" placeholder="请输入生产厂商">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">备注：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" id="memo" v-model="memo" placeholder="请输入备注">
					</div>
				</div>
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<button class="btn btn-secondary radius" @click.prevent="save()"><i
								class="Hui-iconfont">&#xe632;</i>提交保存</button>
						<button class="btn btn-default radius" @click.prevent="reset()">
							<i class="Hui-iconfont">&#xe68f;</i>取消重置
						</button>
					</div>
				</div>
			</div>
		</article>
	</div>

	<script type="text/javascript" src="./hui/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="./hui/js/H-ui.min.js"></script>
	<script type="text/javascript" src="./hui/js/H-ui.admin.js"></script>

	<!--此页面业务相关的脚本-->
	<script type="text/javascript" src="./hui/layui/layui.js"></script>
	<script type="text/javascript" src="./hui/js/axios.min.js"></script>
	<script type="text/javascript" src="./hui/js/vue.js"></script>
	<script type="text/javascript">
		const vue = new Vue({ // 实例化Vue对象
			el: '#app',// 绑定作用域
			data: { //定义数据
				gno: '', // 定义商品号数据
				goodsname: '', // 定义商品名称数据
				cateid: '0', // 定义商品类型数据
				measureid: '0', // 定义计量单位数据
				productor: '', // 定义生产厂商数据
				memo: '', // 定义备注数据
				cate: {}, // 用来保存商品类型对象数据
				measure: {}, // 用来保存计量单位对象数据
			},
			methods: {
				save: function () {
					let _this = this;
					var data = {
						gno: _this.gno,
						goodsname: _this.goodsname,
						cateid: _this.cateid,
						measureid: _this.measureid,
						productor: _this.productor,
						memo: _this.memo,
					};
					axios.post('http://127.0.0.1:8080/jxc/goods/insertGoods.action', data).then(result => {
						if (result.data.code > 0) {
							if (window.confirm('保存成功,是否继续添加？')) {
								_this.reset();
							} else {
								var index = parent.layer.getFrameIndex(window.name);
								parent.location.reload();
								parent.layer.close(index);
							}
						} else {
							console.log('保存失败,请稍后再试');
						}
					});
				},
				reset: function () {
					this.pageLoad();
				},
				pageLoad: function () { // 页面加载
					this.gno = '';
					this.goodsname = '';
					this.cateid = '0';
					this.measureid = '0';
					this.productor = '';
					this.memo = '';
					axios.get('http://127.0.0.1:8080/jxc/goods/createGoods.action').then(result => {
						this.gno = result.data.gno;
					});
				},
				validate: function () { // 验证输入非空
				},
			},
			created() { // 生命周期相关的函数
				let _this = this;
				axios.get('http://127.0.0.1:8080/jxc/cate/getAllCate.action').then(result => {
					_this.cate = result.data;
				});
				axios.get('http://127.0.0.1:8080/jxc/measure/getAllMeasure.action').then(result => {
					_this.measure = result.data;
				});
				_this.pageLoad();
			},
		})
	</script>
	<!--/ 此页面业务相关的脚本-->


</body>

</html>